{% extends "subastas/base.html" %}

{% block title %}JDLS|Subasta {% endblock %}

{% block content %}
{% if bid_form.errors %}
    <a href="#" class="logoverlay" id="popups"></a>
    <div class="logpopup">
        <h2 class="error">¡Oops!</h2>
    {% if recharge %}
        <p>No tienes suficientes puntos de subasta para pujar por este producto. Antes de continuar debes recargar tus puntos.</p>
        <a class="close" href="{% url 'auction_detail' auction.pk %}"></a>
        <a href="{% url 'index' %}"><input type="button" class="button close" value="Recargar" />
    {% else %}
        <p>{{ error }}</p>
        <a class="close" href="{% url 'auction_detail' auction.pk %}"></a>
        <a href="{% url 'auction_detail' auction.pk %}"><input type="button" class="button close" value="Cerrar" /></a>
    {% endif %}
    </div>
{% endif %}

<div class="fila">
    <div>
        <span class="right crono">
            <div id="counter"></div>
            <div class="desc">
                <div>Días</div>
                <div>Horas</div>
                <div class="minseg">Min</div>
                <div class="minseg" id="seg">Seg</div>
            </div>
        </span>
    </div>
</div>
<div class="fila">
    <div class="top_section">
    <form method="post" action="{% url 'auction_detail' auction.pk %}">
        <input class="ultima_columna right bid button body" type="submit" value="PUJAR" />
        <span class="ultima_columna right owner"><span id="preowner">Dueño actual: </span>{{ auction.winner.user.username }}</span>
        {% csrf_token %}
    </form>
    </div>
    <h2 class="auctiontitle">{{ auction.item.name }}</h2>
</div>
<div class="fila">
	<span class="imgauction"><a href="{{ auction.item.image.url }}"><img id="imageauction" src="{{ auction.item.image.url }}"/></a></span>
	<div class="texto">
		<p class="description"><span class="name">Descripción: </span>{{ auction.item.description }}</p>
		<p class="category"><span class="name">Categoría: </span>{{ auction.item.category }}</p>
	</div>
</div>

<script>
function get_time_difference(earlierDate, laterDate){
var nTotalDiff = laterDate.getTime() - earlierDate.getTime();
var oDiff = new Object();

oDiff.days = Math.floor(nTotalDiff/1000/60/60/24);
nTotalDiff -= oDiff.days*1000*60*60*24;
// Quicck fix, needs review
oDiff.days -= 30;

oDiff.hours = Math.floor(nTotalDiff/1000/60/60);
nTotalDiff -= oDiff.hours*1000*60*60;

oDiff.minutes = Math.floor(nTotalDiff/1000/60);
nTotalDiff -= oDiff.minutes*1000*60;

oDiff.seconds = Math.floor(nTotalDiff/1000);
return oDiff;

}
function use_time_difference(){
finish = new Date({{ auction.end_date.year }}, {{ auction.end_date.month }}, {{ auction.end_date.day }}, {{ auction.end_date.hour }}, {{ auction.end_date.minute }}, {{ auction.end_date.second }});
dateCurrent = new Date();
oDiff = get_time_difference(dateCurrent, finish);
oDiff.days<=9?days = '0'+oDiff.days: days = oDiff.days;
oDiff.hours<=9?hours = '0'+oDiff.hours: hours = oDiff.hours;
oDiff.minutes<=9?minutes = '0'+oDiff.minutes: minutes = oDiff.minutes;
oDiff.seconds<=9?seconds = '0'+oDiff.seconds: seconds = oDiff.seconds;
time = days + ":" + hours + ":" + minutes + ":" + seconds;
}
use_time_difference();
{% load static %}
$('#counter').countdown({
stepTime: 60,
format: 'dd:hh:mm:ss',
startTime: time,
digitImages: 6,
digitWidth: 30,
digitHeight: 43,
image: "{% static 'images/digits2.png' %}"
});
</script>

{% endblock %}
