{% extends "subastas/base.html" %}

{% block title %}JDLS|Ayuda{% endblock %}

{% block content %}
<a name="top"></a>
<div class="index">
    <header>
        <h2 class="index_title">F.A.Q.</h2>
        <p class="index_description">En esta página encontrarás respuesta a las preguntas más frecuentes que podrías plantearte al usar El Juego de la Subasta.</p>
    </header>
    <article>
        <nav class="lpreg">
            <ul>
                <li><a href="#preg1">¿Qué es El Juego de la Subasta?</a></li>
                <li><a href="#preg2">¿En qué consiste El Juego de la Subasta?</a></li>
                <li><a href="#preg3">¿Cómo me registro?</a></li>
                <li><a href="#preg4">¿Cómo verifico mi cuenta?</a></li>
                <li><a href="#preg5">¿Puedo poner objetos a subastar?</a></li>
                <li><a href="#preg6">¿Puedo crear ofertas?</a></li>
                <li><a href="#preg7">¿Qué son los puntos?</a></li>
                <li><a href="#preg8">¿Cómo consigo puntos?</a></li>
            </ul>
        </nav>
    </article>
    <article><a name="preg1"></a>
        <p class="preg">¿Qué es El Juego de la Subasta?</p>
        <p>El Juego de la Subasta es un portal de adquisición de productos a través de la red. Usando nuestro sistema de puntos podrás participar en subastas y conseguir productos con las mejores ofertas.</p>
        <p class="top"><a href="#top">Volver arriba</a></p>
    </article>
    <article><a name="preg2"></a>
        <p class="preg">¿En qué consiste El Juego de la Subasta?</p>
        <p>El Juego de la Subasta consiste en lo siguiente: o bien el adminsitrador o una serie de usuarios con permisos especiales pondrán objetos a subastar o con ofertas para que se compren. Gracias a los puntos de subasta podrás pujar en las mismas y ser el ganador de estos objetos. Además, con los puntos de oferta que obtengas podrás comprar los productos ofertados.</p>
        <p class="top"><a href="#top">Volver arriba</a></p>
    </article>
    <article><a name="preg3"></a>
        <p class="preg">¿Cómo me registro?</p>
        <p>En la parte superior derecha de la web podrás encontrar el enlace que te lleva a la página de registro. Allí, introduce tus datos y se te enviará un correo para que confirmes tu cuenta. Cuando lo hagas, ya tendrás cuenta en El Juego de la Subasta.</p>
        <p class="top"><a href="#top">Volver arriba</a></p>
    </article>
    <article><a name="preg4"></a>
        <p class="preg">¿Cómo verifico mi cuenta?</p>
        <p>Una vez te registres se enviará al correo que hayas facilitado durante el mismo un enlace para que entres y te identifiques en el sistema. Una vez hecho esto tu cuenta ya estará activa y podrás empezar a participar en El Juego de la Subasta.</p>
        <p class="top"><a href="#top">Volver arriba</a></p>
    </article>
    <article><a name="preg5"></a>
        <p class="preg">¿Puedo poner objetos a subastar?</p>
        <p>Tanto para poder subtastar objetos como para crear ofertas debes tener una cuenta de usuario con permisos especiales. Ese tipo de usuarios se denominan usuarios internos.</p>
        <p class="top"><a href="#top">Volver arriba</a></p>
    </article>
    <article><a name="preg6"></a>
        <p class="preg">¿Puedo crear ofertas?</p>
        <p>Tanto para poder subtastar objetos como para crear ofertas debes tener una cuenta de usuario con permisos especiales. Ese tipo de usuarios se denominan usuarios internos.</p>
        <p class="top"><a href="#top">Volver arriba</a></p>
    </article>
    <article><a name="preg7"></a>
        <p class="preg">¿Qué son los puntos?</p>
        <p>Los puntos son el sistema de pago de El Juego de la Subasta. Hay dos tipos de puntos: de subasta (PS) y de oferta (PO). Como su propio nombre indica, los puntos de subasta se usan para obtener productos en subastas y los puntos de oferta para comprar productos en oferta.</p>
        <p class="top"><a href="#top">Volver arriba</a></p>
    </article>
    <article><a name="preg8"></a>
        <p class="preg">¿Cómo consigo puntos?</p>
        <p>Los puntos de subasta (PS) tienes que comprarlos mientras que los de oferta (PO) sólo los obtendrás mediante tu participación en subastas. Por cada vez que pujes por un producto obtendrás un punto de oferta (y perderás uno de subasta). Para comprar puntos de subasta entra en la página de recarga de puntos que encontrarás o bien en tu perfil de usuario o bien a través del link situado en el banner superior de la web.</p>
        <p class="top"><a href="#top">Volver arriba</a></p>
    </article>
</div>

{% endblock %}
