<!DOCTYPE HTML>

<html lang="es">

<head>
	<!--{% load staticfiles %}-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<!--"{% static 'css/style.css' %}"-->
	<title>JDLS</title>
</head>

<body>

	<header>
<!-- PRIMERA FILA -->
	<div class="fila">

<!-- CUADRO DE BÚSQUEDA -->
		<form class="busqueda primera_columna">
			<input type="text" name="searchField" class="buscar" placeholder="Escriba lo que desee buscar..." />
			<input type="image" name="searchButton" class="button" value="" src="../static/images/find.png" />
		</form>

<!-- REGISTRO/LOGIN -->
		<nav class="navegacion_principal tercera_columna right">
			<ul>
				<li><a>Registro</a></li>
				<li>&bull;</li>
				<li><a>Login</a></li>
				<li style="display: none;"><a>Logout</a></li>
			</ul>
		</nav>

	</div>

<!-- SEGUNDA FILA -->
	<div class="fila cuerpo" id="logo">
		<a href='#' class="logo_principal primera_columna">JDLS</a>
	</div>
		
	</header>
	
	<section class="cuerpo">
		<article class="registro">
			<header>
				<h2>Registro de usuario</h2>
				<p>Introduzca los datos que se le solicitan a continuación para proceder a la creación de su perfil:</p>
			</header>
			<form class="registro">
				<p class="freg">Nombre de usuario <input class="form text" type="text" name="user" value="" /></p>
				<p class="freg">Nombre <input class="form stext" type="text" name="name" value="" /></p>
				<p class="freg">Apellidos <input class="form stext" type="text" name="surname" value="" /></p>
				<p class="freg">Dirección <input class="form text" type="textarea" name="address" value="" /></p>
				<p class="freg">Código Postal <input class="form stext" type="text" name="cp" value="" /></p>
				<p class="freg">Ciudad <input class="form stext" type="text" name="city" value="" /></p>
				<p class="freg">País <input class="form stext" type="text" name="country" value="" /></p>
				<p class="freg">Fecha de nacimiento <input class="form text" type="date" name="bithdate" value="" /></p>
				<p class="freg">Teléfono <input class="form stext" type="text" name="name" value="" /></p>
				<p class="freg">Correo electrónico <input class="form stext" type="email" name="email" value="" /></p>
				<p class="freg">Repita su correo electrónico <input class="form stext" type="email" name="remail" value="" /></p>
				<p class="freg">Contraseña <input class="form stext" type="password" name="password" value="" /></p>
				<p class="freg">Repita su contraseña <input class="form stext" type="pasword" name="rpassword" value="" /></p>
			</form>


	<!--	<article>
			<header>
				<h2>Article title</h2>
				<p>Posted on <time datetime="2009-09-04T16:31:24+02:00">September 4th 2009</time> by <a href="#">Writer</a> - <a href="#comments">6 comments</a></p>
			</header>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		</article>
		
		<article>
			<header>
				<h2>Article title</h2>
				<p>Posted on <time datetime="2009-09-04T16:31:24+02:00">September 4th 2009</time> by <a href="#">Writer</a> - <a href="#comments">6 comments</a></p>
			</header>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		</article> -->
		
	</section>

	<aside class="cuerpo">
		<h2>About section</h2>
		<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	</aside>

	<footer>
		<div class="cuerpo">
		<p>Copyright 2013 Your name</p>
		</div>
	</footer>

</body>

</html>