{% extends "subastas/base.html" %}

{% block content %}
<div class="index" id="welcome">
<header>
    <h2 class="index_title">¡Bienvenido a El Juego de la Subasta!</h2>
	<p class="index_description">Puja por lo que quieres, acumula puntos, consigue ofertas...¡todo desde la misma web!</p>
</header>

<aside class="index inicio">
	<p>El Juego de la Subasta es un portal de adquisición de productos a través de la red. Usando nuestro sistema de puntos podrás participar en subastas y conseguir productos con las mejores ofertas.</p>
</aside>
</div>
<img class="ultima_columna right index" src="../../static/images/logo-min.png" />
<nav class="navegacion_principal primera_columna left" id="list">
    <ul>
        <li><a href="{% url 'auctions' %}">Últimas subastas</a></li>
        <li>&bull;</li>
        <li><a href="{% url 'index' %}">Últimas ofertas</a></li>
    </ul>
</nav>


{% endblock %}
