{% extends "subastas/base.html" %}

{% block title %}JDLS|Alta de producto{% endblock %}

{% block content %}
<header>
    <h2>Alta de producto</h2>
    <p>Para dar de alta un producto introduzca los datos del mismo que se le piden a continuación, así como el tipo de entrada que pretende que éste sea (Subasta/Oferta):</p>
</header>
<form class="form-horizontal" method="post" action="{% url 'item' %}">
    {% csrf_token %}
    <table>
        {% for field in item_form.visible_fields %}
        <tr><div class="form-group">
            <td><label class="freg control-label">{% if field.field.required %}<span class="required">*</span>{% endif %}{{ field.label_tag }} </label></td>
            <td>{{ field }}</td>{% if field.errors %}<td class="field_error">{% for err in field.errors %}<span class="error_msg">{{ err }}</span>{% endfor %}</td>
            {% endif %}
        </div></tr>
        {% endfor %}
        {% for field in auction_form.visible_fields %}
        <tr><div class="form-group">
            <td><label class="freg control-label">{% if field.field.required %}<span class="required">*</span>{% endif %}{{ field.label_tag }} </label></td>
            <td>{{ field }}</td>{% if field.errors %}<td class="field_error">{% for err in field.errors %}<span class="error_msg">{{ err }}</span>{% endfor %}</td>{% endif %}
        </div></tr>
        {% endfor %}
        {% for field in offer_form.visible_fields %}
        <tr><div class="form-group">
            <td><label class="freg control-label">{% if field.field.required %}<span class="required">*</span>{% endif %}{{ field.label_tag }} </label></td>
            <td>{{ field }}</td>{% if field.errors %}<td class="field_error">{% for err in field.errors %}<span class="error_msg">{{ err }}</span>{% endfor %}</td>{% endif %}
        </div></tr>
        {% endfor %}
    </table>
    <input class="button body" type="submit" value="Aceptar" />
</form>
{% endblock %}