{% extends "subastas/base.html" %}

{% block title %}JDLS|Login{% endblock %}

{% block content %}

{% if form.errors %}
<a href="" class="logoverlay" id="popups"></a>
<div class="logpopup">
	<h2 class="error">Error</h2>
	<p class="error ultimo">El correo electrónico y contraseña no son correctos. Por favor, vuelva a intentarlo.</p>
	<a class="close" href=""></a>
	<a href=""><input type="button" class="button close" value="Aceptar" /></a>
</div>
{% endif %}

<header>
    <h2>Login de usuario</h2>
    {% block subject %}
	<p>Introduzca su correo electrónico y su contraseña para entrar en el sistema:</p>
	{% endblock %}
</header>
{% block form %}
<form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr><div class="form-group">
    <td><label class="freg control-label">Correo electrónico </label></td>
    <td>{{ form.username }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">Contraseña </label></td>
    <td>{{ form.password }}</td>
</div></tr>
</table>

<input class="button body" type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}

{% endblock %}
