{% extends "subastas/base.html" %}

{% block title %}JDLS|Oferta {% endblock %}

{% block content %}
{% if valid %}
<a href="#" class="logoverlay" id="popups"></a>
<div class="logpopup">
    <h2 class="error">¡Enhorabuena!</h2>
    <p>Has adquirido el siguiente producto: {{ offer.item.name }}</p>
    <p>Para completar el proceso de compra debes confirmar la misma pulsando el siguiente botón. Ten en cuenta que cuando confirmes no habrá vuelta atrás, así que piénsatelo bien y si no estás seguro aún estás a tiempo de cancelar.</p>
    <form method="post" action="{% url 'offer_detail' offer.pk %}">
        <a class="close" href="{% url 'offer_detail' offer.pk %}"></a>
        <input type="hidden" name="confirm" value="True" />
        <input type="submit" class="button close" value="Confirmar" />
        <a href="{% url 'offer_detail' offer.pk %}"><input type="button" class="button close" value="Cancelar" /></a>
        {% csrf_token %}
    </form>
</div>
{% endif %}

{% if sale_form.errors %}
    <a href="#" class="logoverlay" id="popups"></a>
    <div class="logpopup">
        <h2 class="error">¡Oops!</h2>
        <p>{{ error }}</p>
        <a class="close" href="{% url 'index' %}"></a>
        <a href="{% url 'index' %}"><input type="button" class="button close" value="Cerrar" />
    </div>
{% endif %}

<div class="fila">
    <div>
        <span class="right crono">
            <div id="counter"></div>
            <div class="desc">
                <div>Días</div>
                <div>Horas</div>
                <div class="minseg">Min</div>
                <div class="minseg" id="seg">Seg</div>
            </div>
        </span>
    </div>
</div>
<div class="fila">
    <div class="top_section">
    <form method="post" action="{% url 'offer_detail' offer.pk %}">
        <input class="ultima_columna right bid button body" type="submit" value="COMPRAR" />
        <span class="ultima_columna right owner"><span id="preowner">Dueño: </span>{{ offer.item.owner.user.username }}</span><span class="ultima columna right actualbid">Precio: <span class="bold">{{ offer.price }}</span></span>
        {% csrf_token %}
    </form>
    </div>
    <h2 class="auctiontitle">{{ offer.item.name }}</h2>
</div>
<div class="fila">
	<span class="imgauction"><a href="{{ offer.item.image.url }}"><img id="imageauction" src="{{ offer.item.image.url }}"/></a></span>
	<div class="texto">
		<p class="description"><span class="name">Descripción: </span>{{ offer.item.description }}</p>
		<p class="category"><span class="name">Categoría: </span>{{ offer.item.category }}</p>
	</div>
</div>

<script>
    function get_time_difference(earlierDate, laterDate){
        var nTotalDiff = laterDate.getTime() - earlierDate.getTime();
        var oDiff = new Object();

        oDiff.days = Math.floor(nTotalDiff/1000/60/60/24);
        nTotalDiff -= oDiff.days*1000*60*60*24;

        oDiff.hours = Math.floor(nTotalDiff/1000/60/60);
        nTotalDiff -= oDiff.hours*1000*60*60;

        oDiff.minutes = Math.floor(nTotalDiff/1000/60);
        nTotalDiff -= oDiff.minutes*1000*60;

        oDiff.seconds = Math.floor(nTotalDiff/1000);
        return oDiff;

    }

    function use_time_difference(){
        finish = new Date({{ offer.end_date.year }}, {{ offer.end_date.month }}, {{ offer.end_date.day }}, {{ offer.end_date.hour }}, {{ offer.end_date.minute }}, {{ offer.end_date.second }});
        dateCurrent = new Date({{ now.year }}, {{ now.month }}, {{ now.day }}, {{ now.hour }}, {{ now.minute }}, {{ now.second }});
        if (finish > dateCurrent){
            oDiff = get_time_difference(dateCurrent, finish);
        }
        else{
            oDiff = get_time_difference(dateCurrent, dateCurrent);
        }
        oDiff.days<=9?days = '0'+oDiff.days: days = oDiff.days;
        oDiff.hours<=9?hours = '0'+oDiff.hours: hours = oDiff.hours;
        oDiff.minutes<=9?minutes = '0'+oDiff.minutes: minutes = oDiff.minutes;
        oDiff.seconds<=9?seconds = '0'+oDiff.seconds: seconds = oDiff.seconds;
        time = days + ":" + hours + ":" + minutes + ":" + seconds;
    }

    use_time_difference();
    {% load static %}
    $('#counter').countdown({
        stepTime: 60,
        format: 'dd:hh:mm:ss',
        startTime: time,
        digitImages: 6,
        digitWidth: 30,
        digitHeight: 43,
        image: "{% static 'images/digits2.png' %}"
    });
</script>

{% endblock %}