{% extends "subastas/base.html" %}

{% block title %}JDLS|Ofertas{% endblock %}

{% block content %}
<header>
    <h2>Últimas ofertas</h2>
    <p>A continuación se muestra la lista de las últimas ofertas activas, ordenadas según el tiempo que queda para su finalización. Puede consultar cada una haciendo click en el nombre del producto en oferta:</p>
</header>
<table>
  	<thead>
    	<tr class="list">
    		<th class="list_head">Nombre del producto</th>
    		<th class="list_head">Dueño del producto</th>
    		<th class="list_head">Precio</th>
    		<th class="list_head no_border">Fin de oferta</th>
    	</tr>
  {% for auction in auction_list %}
    	<tr class="list">
    		<td class="list_body"><a href="{% url 'offer_detail' offer.pk %}">{{ auction.item.name }}</a></td>
    		<td class="list_body">{{ offer.item.owner.user.username }}</td>
    		<td class="list_body">{{ offer.price }}</td>
    		<td class="list_body no_border">{{ offer.end_date }}</td>
    	</tr>
  {% endfor %}
{% endblock %}