{% extends "subastas/base.html" %}

{% block title %}JDLS|Perfil {% endblock %}

{% block content %}

<header>
    <h2>Perfil de {{ auction_user.user.username }}</h2>
</header>

{% if auction_user.user != user %}
<div class="fila">
<form method="post" action="{% url 'profile' user.pk %}">
    <a href="{{ auction_user.image.url }}"><img class="imguser" id="imageuser" src="{{ auction_user.image.url }}"/></a>
    <div class="texto">
        <p class="description"><span class="name">Descripción personal: </span>{{ auction_user.description }}</p>
        <p class="category"><span class="name">Intereses: </span>{{ auction_user.interests }}</p>
    </div>
{% else %}
<form class="form-horizontal" method="post" action="{% url 'profile' user.pk %}">
    {% csrf_token %}
    <table>
        <tr><div class="form-group">
            <td><label class="freg control-label">Descripción personal: </label></td>
            <td class="formuser_desc">{{ auction_user.description }}</td>
        </div></tr>
        <tr><div class="form-group">
            <td><label class="freg control-label">Foto de perfil: </label></td>
            <td class="formuser_pho"><a href="{{ auction_user.image.url }}"><img src="{{ auction_user.image.url }}"/></a></td>
        </div></tr>
        <tr><div class="form-group">
            <td><label class="freg control-label">Intereses: </label></td>
            <td class="formuser_int">{{ auction_user.interests }}</td>
        </div></tr>
    </table>
    <input class="button body" type="submit" value="Guardar" />
{% endif %}

    <div class="listas">
        <p class="description"><span class="name">Subastas en las que ha participado: </span>
        <ul>
        {% for auction in auctions_bid %}
            <li>{{ auction.item.name }}</li>
        {% endfor %}
        </ul>

        <p class="description"><span class="name">Productos ganados en subastas: </span>
        <ul>
        {% for auction in auctions_won %}
            <li><a href="{% url 'auction_detail' auction.pk %}">{{ auction.item.name }}</a></li>
        {% endfor %}
        </ul>

        <p class="description"><span class="name">Productos adquiridos por puntos acumulados: </span>
        <ul>
        {% for offer in offers_won %}
            <li><a href="{% url 'offer_detail' offer.pk %}">{{ offer.item.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% csrf_token %}
</form>
</div>


{% endblock %}