{% extends "subastas/base.html" %}

{% block title %}JDLS|Perfil {% endblock %}

{% block content %}

<header>
    <h2>Perfil de usuario</h2>
</header>

<ul>
	<li>Descripción personal:</li>
	<li>Intereses:</li>
	<li>Productos que le gustaría adquirir:</li>
</ul>
<form class="form-horizontal" method="post" action="{% url 'profile' %}">
    {% csrf_token %}
    <table>
        <tr><div class="form-group">
            <td><label class="freg control-label">{% if field.field.required %}<span class="required">*</span>{% endif %}{{ field.label_tag }} </label></td>
            <td>{{ field }}</td>{% if field.errors %}<td class="field_error">{% for err in field.errors %}<span class="error_msg">{{ err }}</span>{% endfor %}</td>
            {% endif %}
        </div></tr>
        {% if field.label_tag == user_form.confirm_password.label_tag %}
        <tr><td colspan="3" class="help">{{ field.field.help_text }}</td></tr>
        {% endif %}
        {% endfor %}
        {% for field in auction_user_form.visible_fields %}
        {% if field.label_tag != auction_user_form.tos.label_tag %}
        <tr><div class="form-group">
            <td><label class="freg control-label">{% if field.field.required %}<span class="required">*</span>{% endif %}{{ field.label_tag }} </label></td>
            <td>{{ field }}</td>{% if field.errors %}<td class="field_error">{% for err in field.errors %}<span class="error_msg">{{ err }}</span>{% endfor %}</td>{% endif %}
        </div></tr>
        {% endif %}
    </table>
    <p class="ptos">{{ auction_user_form.tos }} Acepto los siguientes <a href="#tos" id="tos_pop">Términos y condiciones</a></p>{% if auction_user_form.tos.errors %}{% for err in auction_user_form.tos.errors %}<span class="error_msg">{{ err }}</span>{% endfor %}{% endif %}

    <p id="key">(<span class="required">*</span>) Campos obligatorios</p>

    <input class="button body" type="submit" value="Aceptar" />
</form>
{% endblock %}