{% extends "subastas/base.html" %}

{% block title %}JDLS|Registro{% endblock %}

{% block content %}

{% if form.errors %}
<a href="" class="overlay" id="popups"></a>
<div class="popup">
	<h2 class="error">Error</h2>
	<p class="error ultimo">El nombre de usuario y contraseña no son correctos. Por favor, vuelva a intentarlo.</p>
	<a class="close" href=""></a>
	<a href=""><input type="button" class="button close" value="Aceptar" /></a>
</div>
{% endif %}

<header>
    <h2>Registro de usuario</h2>
	<p>Introduzca los datos qiue se le solicitan a continuación para proceder a la creación de su perfil:</p>
</header>
<form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr><div class="form-group">
    <td><label class="freg control-label">{{ form.username.label_tag }}</label></td>
    <td>{{ form.username }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">{{ form.name.label_tag }}</label></td>
    <td>{{ form.name }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">{{ form.lastname.label_tag }}</label></td>
    <td>{{ form.lastname }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">{{ form.address.label_tag }}</label></td>
    <td>{{ form.address }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">{{ form.postal_code.label_tag }}</label></td>
    <td>{{ form.postal_code }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">{{ form.password.label_tag }}</label></td>
    <td>{{ form.password }}</td>
</div></tr>
</table>

<input class="button body" type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}