{% extends "subastas/base.html" %}

{% block title %}JDLS|Registro{% endblock %}

{% block content %}

{% if user_form.errors %}
<a href="" class="overlay" id="popups"></a>
<div class="popup">
	<h2 class="error">Error</h2>
	<p class="error ultimo">El nombre de usuario y contraseña no son correctos. Por favor, vuelva a intentarlo.</p>
	<a class="close" href=""></a>
	<a href=""><input type="button" class="button close" value="Aceptar" /></a>
</div>
{% endif %}

<header>
    <h2>Registro de usuario</h2>
	<p>Introduzca los datos qiue se le solicitan a continuación para proceder a la creación de su perfil:</p>
</header>
<form class="form-horizontal" method="post" action="{% url 'register' %}">
{% csrf_token %}
<table>
<tr><div class="form-group">
    <td><label class="freg control-label"><span class="required">*</span>Nombre de usuario </label></td>
    <td>{{ user_form.username }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">Nombre </label></td>
    <td>{{ user_form.first_name }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">Apellidos </label></td>
    <td>{{ user_form.last_name }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">Dirección</label></td>
    <td>{{ auction_user_form.address }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">Código postal </label></td>
    <td>{{ auction_user_form.postal_code }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">Ciudad</label></td>
    <td>{{ auction_user_form.city }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">País</label></td>
    <td>{{ auction_user_form.country }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label"><span class="required">*</span>Fecha de nacimiento </label></td>
    <td>{{ auction_user_form.birth_date }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label">Teléfono </label></td>
    <td>{{ auction_user_form.phone_number }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label"><span class="required">*</span>Correo electrónico </label></td>
    <td>{{ user_form.email }}</td>
</div></tr><tr><div class="form-group">
    <td><label class="freg control-label"><span class="required">*</span>Confirme su correo electrónico </label></td>
    <td>{{ user_form.confirm_email }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label"><span class="required">*</span>Contraseña </label></td>
    <td>{{ user_form.password }}</td>
</div></tr>
<tr><div class="form-group">
    <td><label class="freg control-label"><span class="required">*</span>Confirme su contraseña </label></td>
    <td>{{ user_form.confirm_password }}</td>
</div></tr>
</table>
<p id="key">(<span class="required">*</span>) Campos obligatorios</p>

<input class="button body" type="submit" value="Aceptar" />
</form>

{% endblock %}