<div class="popup">
	<h2 class="error">Términos y condiciones</h2>
	<p>A continuación se describen las condiciones  de uso bajo las cuales El Juego de la Subasta te da acceso a nuestros servicios. La última modificación de los mismos se ha realizado en fecha 25 de noviembre de 2013. Las presentes condiciones de uso entrarán en vigor de manera inmediata para los usuarios que se den de alta a partir del día 25 de noviembre de 2013 y desde el momento de su fecha de alta. Para los usuarios registrados con anterioridad al día 25 de noviembre de 2013, las presentes condiciones de uso entrarán en vigor a partir del día 25 de diciembre de 2013.</p>
	<p>Bienvenido a El Juego de la Subasta. Al utilizar los servicios del sitio Web de El Juego de la Subasta (a partir de aquí JDLS), aceptas los siguientes términos y condiciones.</p>
	<p>Para convertirte en usuario de eBay, primero debes leer y aceptar todos los términos y condiciones que aparecen o están referidos en el presente documento. Si no aceptas nuestras condiciones, por favor no uses nuestro sitio Web ni sus servicios.</p>
	<p>Cuando uses eBay, no deberás:</p>
	<ul>
		<li>enviar contenidos o artículos a una categoría o área inadecuada de nuestros sitios Web y servicios;</li>
		<li>infringir ninguna ley, derechos de terceros o nuestras políticas, como la Política sobre artículos prohibidos y restringidos;</li>
		<li>usar nuestros sitios Web o servicios si no se te permite suscribir contratos legalmente vinculantes, eres menor de 18 años o has sido suspendido temporal o permanentemente de nuestros sitios Web;</li>
		<li>negarte a pagar los artículos que compres, a menos que el vendedor haya modificado significativamente la descripción del artículo después de que hayas pujado, se haya cometido un claro error tipográfico o no puedas autenticar la identidad del vendedor;</li>
		<li>negarte a enviar los artículos que vendas, a menos que el comprador no cumpla las condiciones establecidas o no puedas autenticar la identidad del comprador;</li>
		<li>modificar el precio de un artículo ni interferir en los anuncios de otro usuario;</li>
		<li>publicar contenido falso, incorrecto, engañoso, difamatorio o calumnioso (incluida la información personal);</li>
		<li>transferir tu cuenta de JDLS y tu seudónimo a un tercero sin nuestro consentimiento; no adoptar medidas de seguridad para proteger tu contraseña; utilizar JDLS con el seudónimo o la contraseña de otra persona, o autorizar a un tercero (directa o indirectamente) para que utilice tu seudónimo o tu contraseña.</li>
		<li>distribuir o enviar spam, cadenas de mensajes o sistemas piramidales;</li>
		<li>distribuir virus u otras tecnologías que puedan perjudicar a eBay o los intereses y propiedades de usuarios de JDLS;</li>
		<li>copiar, modificar o distribuir contenido de nuestros sitios Web o los derechos de autor y marcas comerciales de JDLS; ni recopilar en forma alguna información acerca de los usuarios, incluidas las direcciones de correo electrónico, sin su consentimiento.</li>
	</ul>
	<a class="close" href=""></a>
	<a href=""><input type="button" class="button close" value="Aceptar" /></a>
</div>